watch_file flake.nix flake.lock

layout_dir=$(direnv_layout_dir)
env_cache="${layout_dir}/nix-env"

_nix_pure_env() {
  if [[ ! -f "$env_cache" ]] || [[ flake.nix -nt "$env_cache" ]] || [[ flake.lock -nt "$env_cache" ]]; then
    mkdir -p "$layout_dir"
    nix print-dev-env .# --no-warn-dirty > "$env_cache.tmp" || {
      rm -f "$env_cache.tmp"
      log_error "nix print-dev-env failed"
      return 1
    }
    mv "$env_cache.tmp" "$env_cache"
  fi
  eval "$(<"$env_cache")"
  if [[ -n ${NIX_BUILD_TOP+x} && $NIX_BUILD_TOP == */nix-shell.* && -d $NIX_BUILD_TOP ]]; then
    rm -rf "$NIX_BUILD_TOP"
  fi
}

_nix_pure_env
