fejd.fyi {
    handle /api/* {
        reverse_proxy backend:8080
    }

    handle {
        reverse_proxy frontend:80
    }
}

auth.fejd.fyi {
    reverse_proxy keycloak:8080
}

www.fejd.fyi {
    redir https://fejd.fyi{uri} permanent
}