fejd.fyi {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle {
        reverse_proxy frontend:80
    }
}

auth.fejd.fyi {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key

    reverse_proxy keycloak:8080 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Host {host}
    }
}

www.fejd.fyi {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key

    redir https://fejd.fyi{uri} permanent
}

*.fejd.fyi {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle {
        reverse_proxy frontend:80
    }
}
